#top{ 
    color: rgb(231, 15, 61);
    background: linear-gradient(to right, rgb(136, 200, 9), rgb(6, 26, 6) ,rgb(236, 66, 9));
    font-weight: bold;
    font-size: 2em;
    width: 100%;
    text-align: center;
    }
    #home{
        background-color: rgb(14, 2, 13);
        width: 60%;
        border: 5px solid rgb(217, 11, 42);
        margin: auto;
        border-radius: 35px;
        margin-top: 30px;
    }
    .center{
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: aliceblue;
    }
    .container{
        background-color: rgba(14, 125, 129, 0.926);
        display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     border-radius: 15px;
     border: 1px solid black;
     margin-top: 20px;
    
    }
    .box{
        width: 25%;
        border: 2px solid black;
        border-radius: 3px;
        padding: 3px;
        font-weight: bold;
    }
    #line{
        background: linear-gradient(to right,red,yellow,red);
        font-weight: bold;
        text-align: center;
        margin: 20px;
        text-decoration: underline;
        font-size: 2em;
        color: azure;
    }
    .bigcontainer{
        background: radial-gradient(rgb(220, 102, 6),  rgb(146, 12, 126));
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 50px;
    
    }
    .toper{
        width: 15%;
        background-color: rgb(17, 171, 173);
        text-decoration: underline;
        color: red;
        text-align: center;
        border-radius: 15px;
        font-weight: bold;
    
    }
    #title{
        background-color: rgb(218, 85, 107);
       
    }
    .grid{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 1fr;
        grid-template-rows: 50px 100px 220px 50px;
        grid-gap: 10px;
        background-color: aliceblue;
        padding: 10px;
        margin: 20px;
    }
    .grid-1{
        grid-column: 1/5;
        background-color: rgb(246, 104, 128);
        text-align: center;
        color: aliceblue;
        font-weight: bold;
        font-size: 1.5em;
       padding: 10px;
    }
    .grid-2{
        grid-column: 1/2;
        background-color: rgb(167, 161, 101);
    }
    .grid-3{
        grid-column: 2/3;
        background-color: rgb(219, 16, 172);
    }
    .grid-4{
        grid-column: 3/4;
        background-color: rgb(216, 33, 237);
    }
    .grid-5{
        grid-column: 4/5;
        background-color: black;
        grid-row: 2/4;
    }
    .grid-6{
        grid-column: 1/4;
        background-color: rgb(78, 182, 47);
    }
    .grid-7{
        grid-column: 1/5;
        background-color: rgb(8, 111, 41);
    }
    ol{
        color: azure;
        text-decoration: underline;
        font-size: 1.5em;
    }
    #text{
        text-align: center;
        color: aliceblue;
        font-weight: bold;
        font-size: 1.5em;
        
    }
    #text-2{
        text-align: center;
        color: aliceblue;
        font-weight: bold;
        font-size: 1.7em;
    }
    #text-3{
        text-align: center;
        color: aliceblue;
        font-weight: bold;
        font-size: 1.5em;
    }
    #text-4{
        text-align: center;
        color: aliceblue;
        font-weight: bold;
        font-size: 1.5em;
    }
    #text-5{
        text-align: center;
        color: aliceblue;
        font-weight: bold;
        font-size: 1.5em;
    }
    #text-6{
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 1.5em;
    }
    